/* <![CDATA[ */ 

body {font-size:100.01%; color:#333333;}
* {margin:0; padding:0;}
ul {list-style-type:none;}
img {border:0;}
fieldset {border:0;}
legend {display:none;}

body, div, th, td, a {font-family:verdana,arial,helvetica;}

/* quotationtool.biblatex blue #034ea2; orange #f60 */

.cleaner {clear:both; height:0px; font-size:0px; border:0; margin:-1px; background:transparent;} /*teils unterschiedliche Wirkung, ob in <br /> oder <div> */


/* links */
a:link, a:visited { color: #034ea2; }
a:hover { color: #f60; }
a:active { color: #034ea2; }

/* header */
#header {color: #6985a5;}


#login {float:right; font-size:0.7em; padding:0.5em 0 0 0; border-right:1em solid white;} /*Abstand zum re Rand funktioniert nur über padding, nicht right:0.75em*/

/* ---------- MAINNAV ---------- */
/*#mainnav {min-width:780px;} makes a mess with IE7 */
#mainnav ul, #mainnav ul ul { 
    float:left; 
    list-style:none;
} /*keine height, wg. pixelabstand unten*/
#mainnav ul li {
    float:left; 
    background:url(++resource++quotationtool.biblatex.images/mainnav-right.gif) no-repeat top right;
}
#mainnav li a {
    display:block; 
    padding:0.5em 2em 0.6em 1em; 
    font-size:0.7em; 
    font-weight:bold; 
    color:#20344a; 
    background:url(++resource++quotationtool.biblatex.images/mainnav-left.gif) no-repeat top left; text-decoration:none;
}/*display: block --> gesamte Schaltflaeche anklickbar; height-Angabe zerlegt den IE*/
#mainnav li.selected {
    background:url(++resource++quotationtool.biblatex.images/mainnav-right1.gif) no-repeat top right;
}
#mainnav li.selected .active {
    padding:0.5em 2em 0.6em 1em; 
    font-size:0.7em; 
    font-weight:bold; 
    color:#fff; 
    background:url(++resource++quotationtool.biblatex.images/mainnav-left1.gif) no-repeat top left; 
    border-bottom:1px solid #6985a5;
}

#mainnav ul ul {
    position:absolute; 
    left:0px; height:2em;
}
#mainnav ul li li {
    float:left;
    background:none;
}/*background:none ist wichtig, da sonst Reiter erscheinen*/
#mainnav li li a, 
#mainnav li li div {
    display:block; 
    padding:0.4em 0.5em 0.25em 1em; 
    font-size:0.7em; 
    font-weight:bold; 
    color:#fff; 
    text-decoration:none; 
    background:none;
}
#mainnav li li.selected {
    color:#ffff00; 
    font-size:0.7em; 
    font-weight:bold; 
    padding:0.4em 0.5em 0.25em 1em;
}

#bgmainnav {left:0; background-color:#6985a5; min-width:780px; width:99.9%; height:1.5em; border-left:1px solid #a9bcd5;}

/* left aligned*/
#nav2 ul {position:absolute; right:0; width:22em; }/*width ist wichtig für IE 7, da sonst die zweite Ebene der Mainnav einen sehr eingeschränkten linksensitiven Bereich hat*/
#nav2 li {float:right; text-align:right;}
#nav2 li a {padding:0.4em 1em 0.25em 0.5em; font-size:0.7em; font-weight:bold; color:#fff; text-decoration:none;}
#nav2 li.current {font-size:0.7em; font-weight:bold; color:#ffff00; padding:0.4em 1em 0.25em 0.5em;}
#direkthilfe {display:none; position:absolute; right:0.5em; top:11em; width:300px; z-index:10; padding:5px; font-size:0.7em; background-color:#ffffcc; border:1px solid #ccc; z-index:100;}


/* --------- info1 ---------- */
#info1 {
    float:left; 
    padding:1em 0.75em 0.75em 1em; 
    font-size:0.7em;
}
/*Suchfeld - Systematische Suche*/
#info1 input.f2 {
    width:11.25em; 
    height:1.25em; 
    border:1px solid #ccc;
}

/* --------- CONTENT --------- */

#content-wrapper {
    padding:1em 0.75em 0.75em 0.7em;
}
#content, #tabbedcontent {
    border: 1px solid #a9bcd5; 
    padding:0.5em 0.75em 1em 0.75em;
    font-size: 0.7em;
}

#contentlabel {
    border-left:1px solid #a9bcd5;
    border-right:1px solid #a9bcd5;
    border-top:1px solid #a9bcd5;
    padding:0.5em 0.75em 0.6em 0.75em;
    font-size:0.7em;
    font-weight:600;
    color: #444;
    background-color: #dae5f0;
    border-collapse:collapse;
}

#contentlabel h1,
#content h1,
#content h2,
#content h3,
#content h4,
#tabbedcontent h1 {
    font-size: 1.1em;
}
#content pre,
#tabbedcontent pre {
    font-size: 10pt;
}

#tabbedcontent-wrapper {
    margin-top: 2em;
}

#tabbedcontent {
    
}

.required-info .required, 
label .required {
    color: darkorange;
}

.wizard {
    border: 1px solid #a9bcd5; 
}
.wizard .header,
.wizard .wizardMenu,
.wizard .viewspace {
    padding:0.5em 0.75em 0.5em 0.75em;
}
.wizard .header {
    font-size: 1em;
    font-weight: 600;
    color: #444;
    background-color: #dae5f0;    
}
.wizard .viewspace .label {
    border-bottom: 1px solid #a9bcd5;
    font-size: 1.1em;
    font-weight: 600;
}
.wizard .viewspace .step .row .label {
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    border: 0;
}
.wizard .viewspace .step {
    margin-top: 1em;
}
.wizard .viewspace .step .row {
    margin-top: 0.5em;
}
.wizard .viewspace .buttons {
    margin-top: 2em;
}
.wizard .viewspace .step .row .buttons {
    margin-top: 0.2em;
}


/* -------------- TABS ------------- */
#itemtabs {
    width:auto;/*44.9em*/ 
    margin:0;  
    position:relative; 
    top:1px; 
    height:1.5em;
} /*position:relative; top:1px ; height:1.5em;--> wg. Verbindung aktiver Reiter zur Box*/
#itemtabs ul {
    float:left; 
    list-style:none;
}
#itemtabs ul li {
    float:left; 
    background:url(++resource++quotationtool.biblatex.images/subtab-right1.gif) no-repeat top right;
}/*display: block --> gesamte Schaltflaeche anklickbar*/
#itemtabs li a {
    display:block; 
    padding:0.5em 2em 0.6em 1em;  
    /*padding:2px 2em 0 1em;*/   
    font-size:0.7em; 
    font-weight:bold;  
    color:#20344a; 
    background:url(++resource++quotationtool.biblatex.images/subtab-left1.gif) no-repeat top left; 
    text-decoration:none; 
    margin-bottom:0;/*-1px;*/  
    border-bottom:1px solid #a9bcd5;
} /* margin-bottom:-1px --> IE6, einfache Linie unterhalb der inaktiven Buttons  */

/*border-bottom bei aktivem Reiter --> Verbindung zur Box*/
#itemtabs li.selected {background:url(++resource++quotationtool.biblatex.images/subtab-right.gif) no-repeat top right; margin-bottom:-1px; border-bottom:1px solid #fff;}
#itemtabs li.selected a {  padding:0.5em 2em 0.6em 1em;  font-size:0.7em; font-weight:bold; background:url(++resource++quotationtool.biblatex.images/subtab-left.gif) no-repeat top left; color:#20344a; border-bottom:1px solid #fff;} 
#itemtabs ul ul {float:left; list-style:none; position:absolute; width:100%; height:1.5em;} /*width:100% ist wichtig, damit die verschachtelte Liste funktioniert */
#itemtabs ul li li {float:left; background:none; }/*background:none ist wichtig, da sonst Reiter erscheinen*/
#itemtabs li li a, 
#itemtabs li.selected li a {background:none; padding:0.4em 0 0.25em 1em; border:0; background-image:none; font-weight:normal; text-decoration:underline;}
#tab li li.selected2  {color:#20344a; font-size:0.7em; font-weight:bold; padding:0.4em 0 0.25em 1em;}





/* quotationtool.biblatex specific css classes */


.biblatexentry_formatted {
    font-weight: 600;
}

.ecti-1000 {
    font-style: italic;
}

.biblatexentry_fieldvalues {
    margin-top: 2em;
}

td span.fieldname {
    font-weight: 600;
}

/* ]]> */
